node_modules/
dist/
build/
.env
.env.*
!.env.example
logs/
*.log
*package-lock.json
*package.json
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.tsbuildinfo
.tmp/
temp/
*tsconfig.json